@charset 'ISO-8859-1';
	section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.se_connecter{
	width:30%;}
	.titre{
		margin-top:10px;
		padding-bottom:50px;
		width:100%;
		text-align: center;
	}
	.enchère{
		width: 250px;
		margin: 10px;
		padding:5px;
		border: 2px solid grey;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
	}
	.liste_enchères{
		
		margin-bottom: 20px;
		display: flex;
		flex-direction: row !important;
	}
	.photo{
		width: 40%;
	}
	.description{
		width: 60%;
	}
	footer {
		width:100%;
		height:110px;
		text-align: center;
		color: white;
		padding-top: 40px;
		background-image: url("https://img.freepik.com/free-vector/desert-landscape-background-video-conferencing-with-cactus_23-2148670212.jpg?size=626&ext=jpg");
	}